@font-face {
  font-family: "Raleway";
  src: url('./Fonts/Raleway-Regular.ttf');
}
@font-face {
  font-family: "answer";
  src: url('./Fonts/answer.regular.ttf');
}
@font-face {
  font-family: "sensation-bold";
  src: url('./Fonts/sansation.bold.ttf');
}

/* 
Kleuren
Groen: #77EF8F
Blauw: #2893D6 
*/

* {
  margin: 0;
}

body {
  font-size: 16px;
  font-family: "Raleway", "PT Sans", Calibri, Tahoma, sans-serif;
}
img {
  width: 100%;
}

/* ==========
######## ##  ##   ######    #####    #####   ######      ##    ######    ##  ##  ##  ##   
#  ##  # ##  ##    ##  ##  ##   ##  ##   ##   ##  ##    ####    ##  ##   ##  ##  ##  ##   
   ##    ##  ##    ##  ##  ##   ##  ##        ##  ##   ##  ##   ##  ##   ##  ##  ##  ##   
   ##     ####     ##  ##  ##   ##  ##        #####    ######   ##  ##   ######   ####    
   ##      ##      #####   ##   ##  ##  ###   ####     ##  ##   #####    ##  ##    ##     
   ##      ##      ##      ##   ##  ##   ##   ## ##    ##  ##   ##       ##  ##    ##     
  ####    ####    ###       #####    #####   ###  ##   ##  ##  ###       ##  ##   #### 
========== */

h1 {
  font-size: 10rem;
  font-family: "sensation-bold", "Montserrat", sans-serif;
  color: #fff;
  letter-spacing: 0.125em;
}
p {
  font-size: 1.25rem;
  line-height: 120%;
}
h2 {
  color: #2893D6;
  line-height: 2em;
}
h2.green {
  color: #77EF8F;
}
nav a {
  color: #fff;
  text-decoration: none;
}



/* header */

header {
  color: #fff
}
header p {
  font-size: 1.75rem;
}



/* footer */

footer {
  color: #fff;
}
footer p {
  font-size: 1.25rem;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer a:hover,
footer a:focus {
  text-decoration: underline;
}
.legals a {
  text-decoration: underline;
}



/* media queries */

@media (max-width: 1100px) {
  h1 {
    font-size: 5rem;
  }
  header p {
    font-size: 1rem;
  }
}

@media (max-width: 449px) {
  h1 {
    font-size: 3rem;
  }
  header p {
    font-size: 0.75rem;
  }
}

/* ==========
 ####       ##    ##  ##    #####    ##  ##  ######## 
  ##       ####   ##  ##   ##   ##   ##  ##  #  ##  #
  ##      ##  ##  ##  ##   ##   ##   ##  ##     ##
  ##      ######   ####    ##   ##   ##  ##     ##
  ##      ##  ##    ##     ##   ##   ##  ##     ##
  ## ##   ##  ##    ##     ##   ##   ##  ##     ##
 ######   ##  ##   ####     #####     ####     ####
========== */

/* background */

body {
  background-image: url(/Images/Logos/KWGradient.png);
  background-size: 60vw;
  background-color: #001E3C;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 25vh;
  background-attachment: fixed;
  backdrop-filter: blur(20px);
}



/* navbar */

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}
nav a.logo {
  height: 100%;
  cursor: pointer;
  background-image: url("Images/Logos/KWOutlineGradient.png");
  background-size: contain;
  
}
nav a.logo img {
  height: 100%;
  width: auto;
  opacity: 0%;
  transition: 0.3s;
}
nav a.logo img:hover {
  opacity: 100%;
}
nav div.buttons {
  display: flex;
  align-items: baseline;
  gap: 1em;
}
nav div.buttons a {
  padding: 0.25em;
  height: 100%;
}
nav div.buttons a.active,
nav div.buttons a:hover,
nav div.buttons a:focus {
  border-image: linear-gradient(90deg, rgba(40,147,214,1) 0%, rgba(119,239,143,1) 100%) 1;
  border-bottom-width: 0.125em;
  border-bottom-style: solid;
}
nav div.buttons a.contact {
  border: 0;
  /* border-width: 4px; */
  /* border-style: solid; */
  /* border-image: linear-gradient(45deg, rgba(119,239,143,1) 0%, rgba(40,147,214,1) 100%) 1; */
  border-radius: 100px;
  padding: 1em 2em;
  background: rgba(119,239,143,1);
  background: linear-gradient(45deg, rgba(40,147,214,1) 0%, rgba(119,239,143,1) 100%);
  text-shadow: #000 1px 0 10px;
}
nav div.buttons a.contact:hover,
nav div.buttons a.contact:focus {
  border: 0.25em solid #fff;
  padding: 0.75em 1.75em;
}




/* header */

header {
  height: 400px;
  text-align: center;
  padding-top: 100px;
}



/* main */

main {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.section {
  width: 1000px;
  margin: 5em auto 5em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sectiontext {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sectionimage {
  width: 45%;
  display: flex;
  /* DIRECTION VAN PLAATJE */
  justify-content: end; /* horizontaal */
  align-items: start; /* verticaal */
  height: 300px;
  width: 450px;
}
.sectionimage img {
  height: 270px;
  width: 405px;
  object-fit: cover;
  z-index: 2;
}
.sectionimage .complimentholder {
  z-index: 1;
  position: absolute;
  aspect-ratio: 3/2;
  display: flex;
  /* DIRECTION VAN COMPLIMENT */
  justify-content: start; /* horizontaal */
  align-items: end; /* verticaal */
  height: 300px;
}
.sectionimage .compliment {
  height: 270px;
  background-color: #77EF8F;
  aspect-ratio: 3/2;
}
/* swap */
.swap.section {
  flex-direction: row-reverse;
}
.swap .sectionimage {
  /* SWAP DIRECTION VAN PLAATJE */
  justify-content: start; /* horizontaal */
  align-items: start; /* verticaal */
}
.swap .sectionimage .complimentholder {
  /* SWAP DIRECTION VAN COMPLIMENT */
  justify-content: end; /* horizontaal */
  align-items: end; /* verticaal */
}
.swap .sectionimage .compliment {
  background-color: #2893D6;
}



/* footer */

footer {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact {
  width: 1000px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.legals {
  padding: 0.5em;
  gap: 1.5em;
  display: flex;
  border-top: #003263 2px solid;
  width: 1000px;
}



/* media queries */
@media (max-width: 1100px) {
  header {
    height: 200px;
  }

  main .section,
  main .swap.section {
    flex-direction: column;
    width: 450px;
    gap: 2.5em;
  }
  main .sectiontext,
  main .sectionimage {
    width: 100%;
  }

  footer .contact,
  footer .legals {
    width: 450px;
  }
}

@media (max-width: 449px) {
  nav {
    flex-direction: column;
  }
  nav a.logo img {
    opacity: 1;
  }
  nav div.buttons {
    height: 0px;
    display: none;
  }
  
  header {
    padding: 0px;
  }

  main .section,
  main .swap.section {
    width: 250px;
  }
  .sectionimage img,
  .sectionimage .compliment {
    width: 225px;
    height: 150px;
  }
  .sectionimage .complimentholder {
    width: 250px;
    height: 166px;
  }

  footer .contact,
  footer .legals {
    width: 250px;
  }
  footer .legals {
    flex-direction: column;
    gap: 0.25em;
  }
}

@media (orientation: portrait) {
  body {
    background-image: url('./Images/Logos/KGradientSquare.png');
  }
}